body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

h2 h3 h4 p {
  font-family: "Dosis", sans-serif;
}

.navbar-nav {
  color: white;
}

.nav-link:hover {
  color: #DA7532;
}

.navbar,
btn,
h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.689);

}

.nav-transparent {
  background-color: transparent !important;
  box-shadow: none;
}

.banner-section {
  position: relative;
  width: 100%;
  height: 665px;
  overflow: hidden;
}

.banner-img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-item {
  color: #E6E4DE;
}

.btn-cta {
  background-color: #DA7532;
  color: #1B1F1D;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: background-colour 0.3s, color 0.3s;
}

.btn-cta:hover {
  background-color: #6A8D92;
  color: #ffffff;
}

.banbtn {
  color: white;
  background-color: #1B1F1D;
  border: 1px solid #ffffff;
}

.value-box {
  border: 1px solid #8B4513;
  transition: 0.3s ease, color 0.3s ease;
  color: #1B1F1D;
  background-color: #DA7532;
}

.value-box:hover {
  background-color: #6A8D92;
  color: #ffffff;
}

.value-box:hover h6,
.value-box:hover p {
  color: #fff;
}

.value-box:hover img {
  transform: scale(1.1);
  transition: color0.3s ease;
  filter: drop-shadow();
}

.value-box h6 {
  transition: color 0.3s ease;
}

.value-box p {
  transition: color 0.3s ease;
}

.value-box img {
  transition: all 0.3s ease;
  filter: none;
}

.van {
  width: 500px;
  height: auto;
}

.van:hover {
  transform: scale(1.05);
}

.section3 {
  background-color: #E6E4DE
}

.map {
  width: 500px;
  height: auto;
}

.section5 {
  background-color: #E6E4DE;
}

.section6 {
  background-color: #ffffff;
}

.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-img:hover {
  transform: translateY(-8px);

}

.last {
  width: 500px;
  height: auto;
}

.section7 {
  background-color: #E6E4DE;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}


.card:hover {
  background-color: #DA7532;
  color: #ffffff;
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  background-color: rgba(0, 0, 0, 0.121);
}

.btn-cd {
  background-color: #DA7532;
  color: #1B1F1D;
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: background-colour 0.3s, color 0.3s;
}

.btn-cd:hover {
  background-color: #6A8D92;
  color: #ffffff;
}

.contact-btn {
  border-radius: 2px;
}

.equal-card {
  width: 100%;
  max-width: 320px;
  height: 100%;
  min-height: 480px;
}

.equal-img {
  height: 180px;
  object-fit: cover;
}